.all_portfolio {
  background: #2e4683;
  // height: 1000px;
  .portfolio_h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #fff;
  }
}
.components {
  padding-top: 129px;
  padding-left: 46px;
  display: flex;
  align-items: center;
  gap: 300px;
  margin-bottom: 48px;
  .portfolio_btns {
    button {
      // display: flex;
      margin: 10px;
      //   flex-direction: column;
      // gap: 2px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      text-align: center;

      padding: 19px 23px;

      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 40px;

      background-color: transparent;
      cursor: pointer;
    }
  }
}
.all_cards{
  display: flex;
  gap: 32px;
}
.middle_card{
  display: flex;
  gap: 32px;
}
.cards {
  position: relative;
  width: 469.47px !important  ;
  // width: 100%;
  // height: 543.42px;
  background: linear-gradient(
    145.01deg,
    rgba(217, 217, 217, 0) 12.65%,
    #d9d9d9 99.66%
  );
  opacity: 0.5;
  border-radius: 45px;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  .cards_title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    z-index: 99;
  }
  .titles {
    padding-top: 30px;
    margin-left: 43px;
  }
  .cards_p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #ffffff;

    opacity: 0.5;
  }
  transition: 0.5s;

  &:hover {
    background-color: #ae9970;
    transition: 1s;
    .visited {
      display: block;
    }
  }

  .visited {
    position: absolute;
    display: flex;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    gap: 13px;
    color: #ffffff;
    right: 110px;
    bottom: 30px;
    display: none;
  }
}

.vector_vist {
  position: absolute;
  //  bottom: 34px;
  left: 90px;
}

.images-main {
  position: absolute;
  left: 160px;
  top: 120px;
}

.images {
  position: absolute;
  bottom: 28px;
  left: 32px;
  width: 114px;
  height: 91px;
}

.cards_end {
  position: relative;
  width: 332.81px;
  // width: 100% !important;
  height: 255.63px;
  background: linear-gradient(
    145.01deg,
    rgba(217, 217, 217, 0) 12.65%,
    #d9d9d9 99.66%
  );
  opacity: 0.5;
  border-radius: 45px;
  cursor: pointer;

  a {
    text-decoration: none;
  }

  .cards_title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    z-index: 99;
  }
  .titles_end {
    padding-top: 37px;
    margin-left: 40px;
  }
  .cards_p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #ffffff;

    opacity: 0.5;
  }
  transition: 0.5s;

  &:hover {
    background-color: rgb(218, 78, 78);
    transition: 1s;
    .visited_end {
      display: block;
    }
  }

  .visited_end {
    position: absolute;
    left: 119px;
    top: 207px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #ffffff;

    display: none;
  }
}

.images-main-end {
  position: absolute;
  left: 225px;
  top: 25px;
  width: 106.4px;
  height: 230.42px;
  border-radius: 0 0 45px 0;
}
.visited_end {
}
.vector_vist_end {
  position: absolute;
  left: 75px;
  // top: 258px;
}
