.all_team {
  background: #f0f0f0;
  height: 1117px;
  img{
    margin-top: 344px;
  }
}
.alls{
  position: relative;

}
.team_h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #0b0b21;
  position: absolute;

  right: 599px;
  top: 105px;
}
