.about_bg {
  background: linear-gradient(180deg, #0b0b21 5.21%, #2e4683 100%);
  .all_hero {
    display: flex;
    position: relative;
    height: 900px;
    align-items: center;
  }
  .text {
    display: flex;
    align-items: flex-start;
    .all_txt {
      margin-top: 25px;
    }
    &_h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;

      color: #ffffff;
      width: 277px;
      // margin-top: -320px;
    }
    &_p {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 592px;
      height: 351px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;

      color: #ffffff;
    }
  }

  .globus {
    position: relative;
    &_img {
      width: 558.09px;
    }
    position: absolute;
    right: 0px;
    // top: 184px;
    .tops {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 81.69px;
      height: 61.02px;
      border: 1px solid #ffffff;
      border-radius: 40px;
      position: absolute;
      top: 382px;
      left: 237px;
    }
  }
}

@media screen and (max-width: 1099px) {
  .text {
    &_p {
      margin-top: -390px !important;
    }
  }
  .all_hero {
    height: 1200px !important;
  }
}

@media screen and (max-width: 400px) {
  .globus {
    position: absolute;
    width: 290px;
    right: 66px;
  }
}
