.home_video {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden !important;

  .video-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border: none;
  }
  .mobile {
    z-index: 99 !important;
    display: block !important;
  }
}

.navbar-container {
  display: block;
  position: relative;
  height: 64px;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  //   padding: 0 40px;
  width: 100%;

  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: none;
  }
  .menu-items {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(6px);
    padding-top: 2%;
    padding-left: 17.5%;
    display: flex;
    flex-direction: column;
  }
  .active1 {
    overflow-y: hidden;
  }
  .menu-items li,
  a {
    // margin-left: -400px;
    // width: 100%;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #ffffff;
    line-height: 1em;
    text-align: left;
    transition: 0.3s all ease;
    padding: 18px;
    display: iinf;
    cursor: pointer;
    &:hover {
      color: #fff;
      transform: translateX(-40px);
      transition: 0.5s;
    }
  }

  .navbar a {
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-family: "Proxima Nova", sans-serif;
    padding-bottom: 24px;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 50px;
    top: 20px;
    right: 15px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;

    width: 43px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 25px;
    // left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }
  .navbar-container .hamburger-lines .line2 {
    // display: block;
    height: 5px;
    width: 53px;
    margin-left: -10px;
    border-radius: 10px;
    background: #fff;
    &:hover {
      transform: translateX(-10px);
    }
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.1s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    margin-top: 67px;
    background-color: #333333b3;
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: inline-block;
    // margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    padding-top: 150px;
    justify-content: center;
  }

  .navbar .menu-items li {
    margin-bottom: 5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff !important;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

.vector {
  display: flex;
  margin-top: -90px;
  align-items: center;
  justify-content: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: vectors;
}

@keyframes vectors {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(14px);
  }
  75% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}
